 .u-section-1 {
  min-height: 848px;
}

.u-section-1 .u-slider-1 {
  min-height: 848px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/7.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/9.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  background-image: url("images/10.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
  }
} .u-section-2 {
  background-image: url("images/51.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 2020px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 153px 553px 0 44px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 1546px auto 44px;
  padding: 18px 39px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-2 .u-text-1 {
    width: 543px;
    margin-left: 0;
    margin-right: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 177px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
}