 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2033px;
}

.u-section-1 .u-image-1 {
  width: 218px;
  height: 218px;
  background-image: url("images/13.png");
  background-position: 50% 50%;
  margin: 25px auto 0 198px;
}

.u-section-1 .u-image-2 {
  width: 213px;
  height: 213px;
  background-image: url("images/12.jpg");
  background-position: 50% 50%;
  margin: -218px 275px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 20px 667px 0 141px;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: -50px 246px 0 623px;
}

.u-section-1 .u-list-1 {
  width: 1032px;
  margin: 67px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 424px;
}

.u-section-1 .u-container-layout-1 {
  padding: 3px 30px 0;
}

.u-section-1 .u-image-3 {
  height: 287px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 3px 30px 0;
}

.u-section-1 .u-image-4 {
  height: 287px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 3px 30px 0;
}

.u-section-1 .u-image-5 {
  height: 287px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 424px;
  height: 428px;
  width: 1040px;
  margin: 84px 47px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 3px 30px 0;
}

.u-section-1 .u-image-6 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 24px 0 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 3px 30px 0;
}

.u-section-1 .u-image-7 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 24px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 3px 30px 0;
}

.u-section-1 .u-image-8 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 24px 0 0;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 424px;
  height: 445px;
  width: 1051px;
  margin: 162px 33px 60px auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 3px 30px 0;
}

.u-section-1 .u-image-9 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 24px 0 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 3px 30px 0;
}

.u-section-1 .u-image-10 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 24px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 3px 30px 0;
}

.u-section-1 .u-image-11 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-right: 567px;
    margin-left: 83px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -31px;
    margin-right: 146px;
    margin-left: 523px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 47px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 386px;
  }

  .u-section-1 .u-image-3 {
    height: 256px;
  }

  .u-section-1 .u-image-4 {
    height: 256px;
  }

  .u-section-1 .u-image-5 {
    height: 256px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: NaNpx;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-3 {
    width: 940px;
    margin-right: 0;
    min-height: NaNpx;
  }

  .u-section-1 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-image-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 388px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 438px;
    margin-right: 36px;
    margin-left: 413px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -422px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 887px;
  }

  .u-section-1 .u-image-3 {
    height: 303px;
  }

  .u-section-1 .u-image-4 {
    height: 303px;
  }

  .u-section-1 .u-image-5 {
    height: 303px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    width: 720px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    width: 720px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 208px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1426px;
    margin-right: 0;
    margin-left: 269px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -1409px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 525px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 525px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 525px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 122px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 127px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 895px;
    margin-left: 69px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -900px;
  }

  .u-section-1 .u-image-3 {
    height: 323px;
  }

  .u-section-1 .u-image-4 {
    height: 323px;
  }

  .u-section-1 .u-image-5 {
    height: 323px;
  }

  .u-section-1 .u-repeater-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 461px;
}